<>
  &copy; Bryan Berlin / WikiPortraits (CC BY-SA 4.0), via
  <a class="underline hover:no-underline ml-1" href="https://commons.wikimedia.org/w/index.php?curid=195780204" target="_blank" rel="noopener noreferrer">
    Wikimedia Commons
  </a>
</>
