---
import consts from "@/consts";
import Root from "@/layouts/Root.astro";
import HeaderNav from "@/components/HeaderNav.astro";
import FooterNav from "@/components/FooterNav.astro";
import TopFirstCover from "@/components/TopFirstCover.astro";
import AbstractSection from "@/components/AbstractSection.astro";
---

<Root title={consts.SITE_NAME}>
  <TopFirstCover/>
  <HeaderNav/>
  <main class="max-w-3xl px-5 mx-auto my-20 space-y-16">
    <AbstractSection title="サンプルタイトル">
      吾輩わがはいは猫である。名前はまだ無い。 どこで生れたかとんと見当けんとうがつかぬ。
      何でも薄暗いじめじめした所でニャーニャー泣いていた事だけは記憶している。
      吾輩はここで始めて人間というものを見た。
      しかもあとで聞くとそれは書生という人間中で一番獰悪どうあくな種族であったそうだ。
    </AbstractSection>
    <AbstractSection title="サンプルタイトル">
      吾輩わがはいは猫である。名前はまだ無い。 どこで生れたかとんと見当けんとうがつかぬ。
      何でも薄暗いじめじめした所でニャーニャー泣いていた事だけは記憶している。
      吾輩はここで始めて人間というものを見た。
      しかもあとで聞くとそれは書生という人間中で一番獰悪どうあくな種族であったそうだ。
    </AbstractSection>
    <AbstractSection title="サンプルタイトル">
      吾輩わがはいは猫である。名前はまだ無い。 どこで生れたかとんと見当けんとうがつかぬ。
      何でも薄暗いじめじめした所でニャーニャー泣いていた事だけは記憶している。
      吾輩はここで始めて人間というものを見た。
      しかもあとで聞くとそれは書生という人間中で一番獰悪どうあくな種族であったそうだ。
    </AbstractSection>
  </main>
  <FooterNav/>
</Root>
