---
import { Button } from "@/components/shadcnui/button";

const { title, aka, morelink } = Astro.props;
---

<section class="w-full flex flex-col items-center space-y-5">
  <div class="w-fit p-3 px-10 mb-5 text-center border-b-4 border-[#333333]">
    <h2 class="text-3xl font-bold">{title}</h2>
    <p class="text-xl">{aka}</p>
  </div>
  <div class="w-full">
    <slot/>
  </div>
  {morelink && <Button variant={"default"} size={"lg"}><a href={morelink}>もっとみる</a></Button>}
</section>
