---
import consts from "@/consts";
---
<footer class="p-5 py-16 flex flex-col justify-center text-center">
  <a href="opensource-licenses" class="underline hover:no-underline">オープンソースライセンス</a>
  <small>&copy; 2026 {consts.SITE_NAME}.</small>
  <small class="text-[0.7em]">
    「FIFA（国際サッカー連盟）」及び「FIFA ワールドカップ 2026」とは一切の関連のない、個人の運営するファンサイトです。<br/>
    当ウェブサイトに掲載されている各画像の一部分または全部の著作権は各著作権者に帰属します。
  </small>
</footer>
